.new_Collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem ;
    margin-bottom: 6.25rem ;
    
}
.new_Collections h1{
    color: #171717;
    font-size: 3.125rem;
    font-weight: 600 ;
}

.new_Collections hr{
    width: 12.5rem ;
    height: 0.375rem;
    border-radius: 0.625rem;
    background: #252525;
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 1.875rem ;

}