.productdisplay{
    display: flex;
    margin: 0px 170px;
}
.productdisplay_Left{
    display: flex;
    gap: 17px;
}
.productdisplay_Img_List{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay_Img_List img{
    height: 163px;
}
.productdisplay_Main_Img{
    width: 586px;
    height: 700px;
}

.productdisplay_Right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay_Right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

.productdisplay_Right_Stars{
    display: flex;
    align-items: center;
    margin-top: 13px ;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay_Right_Prices{
    display: flex;
    margin: 30px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700 ;
}
.productdisplay_Right_Price_Old{
    color:#818181 ;
    text-decoration: line-through;
}
.productdisplay_Right_Price_New{
    color: #ff4141;
}
.productdisplay_Right_Size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay_Right_Sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.productdisplay_Right_Sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productdisplay_Right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay_Right_Category{
    margin-top: 10px;
}
.productdisplay_Right_Category span{
    font-weight: 600;
}