.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px ;
    background: linear-gradient(180deg,#fde1ff 0%, #e1ffea22 60%);
}

.offers_Left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers_Left h1{
    color: #171717;
    font-size: 70px ;
    font-weight: 600;
}
.offers_Left p{
    color: #171717;
    font-size: 22px ;
    font-weight: 600;
}

.offers_Left button{
    width: 17.625rem ;
    height: 70px ;
    border-radius: 2.188rem ;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 1.375rem;
    font-weight: 500;
    margin-top: 1.875rem;
    cursor: pointer;
}

.offers_Right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;


}