.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.footer_Logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer_Logo img{
    width: 50px;
}
.footer_Logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}

.footer_Links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;

}

.footer_Links li{
    cursor: pointer;
}

.footer_Social_Icon{
    display: flex;
    gap: 20px;
}

.footer_Icons_Container{
    padding: 10px;
    padding-bottom: 6px;
    background:#fbfbfb ;
    border: 1px solid #ebebeb;

}

.footer_Copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer_Copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7 ;
}