.hero{
    height: 100vh;
    background: linear-gradient(180deg,#5178f7,#86888722 60%);
    display: flex;

}
.hero_Left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    padding-left: 11.25rem;
    line-height: 1.1;
}

.hero_Left h2{
    color: #090909;
    font-size: 1.625rem;
    font-weight: 600;
}

.hero_Left p{
    color: #171717;
    font-size: 6.25rem ;
    font-weight: 700;
}

.hero_Hand_Icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero_Hand_Icon img{
    width: 6.563rem ;
}

.hero_Latest_Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.938rem ;
    width: 19.375rem;
    height:4.375rem;
    border-radius: 4.688rem;
    margin-top: 1.875rem ;
    background: #ff4141 ;
    color: white ;
    font-size: 1.375rem ;
    font-weight: 500;
}

.hero_Right{
    flex: 1;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}